h3 Project settings

form.form-horizontal
	.form-group
		label.control-label.col-sm-4 Name
		.col-sm-6
			input.form-control(type="text" ng-model="projectName" placeholder="Project Name")

	.form-group
		.col-sm-8.col-sm-offset-4: .checkbox: label
			input(type="checkbox" title="Send email alerts about failed tasks" ng-model="alert")
			|  Allow alerts for this project

	.form-group
		label.control-label.col-sm-4 Chat ID
		.col-sm-6
			input.form-control(type="text" ng-model="alert_chat" placeholder="Telegram Chat ID for alerts")

	.form-group
		.col-sm-6.col-sm-offset-4
			button.btn.btn-success(ng-click="save(projectName, alert, alert_chat)") Save

hr

.row: .col-sm-6.col-sm-offset-4
	button.btn.btn-danger(ng-click="deleteProject()") Delete project