doctype
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8;")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - Semaphore") Semaphore
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")

		//- all css goes here
		block css

		link(rel="stylesheet" href="/css/semaphore.css")

	body
		.container-fluid(style="margin-top: 100px;")
			.row
				.col-sm-6.col-sm-offset-3
					block content
						ui-view(autoscroll="false")
							p.lead.text-center
								i.fa.fa-spin.fa-cog
								|  Loading...

		block js
			script(src="/vendor/requirejs/require.js" data-main="/js/semaphore_auth.js")

		//- page-specific js
		block addonjs