doctype
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8;")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block meta
		title(ng-bind-template="{{ pageTitle }} - Semaphore") Semaphore
		link(href="/favicon.ico" type="image/x-icon" rel="icon")
		link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")

		//- all css goes here
		block css

		link(rel="stylesheet" href="/css/semaphore.css")

	body
		.navbar.navbar-default
			.container-fluid
				.navbar-header
					a.navbar-brand(ui-sref="homepage") Semaphore

				nav.nav.navbar-nav
					li: a(ui-sref="playbooks") Playbooks
					li: a(ui-sref="identities.list") Identities

				nav.nav.navbar-nav.pull-right
					li: a(ui-sref="addPlaybook") Add Playbook

		.container-fluid
			.row
				.col-sm-3.col-lg-2
					ul.nav
						h2.no-top-margin Playbooks
						li(ng-repeat="playbook in playbooks")
							a(ui-sref="playbook.view({ playbook_id: playbook._id })") {{ playbook.name }}

				.col-sm-9.col-lg-10
					block content
						ui-view(autoscroll="false")
							p.lead.text-center
								i.fa.fa-spin.fa-cog
								|  Loading...

		block js
			script(src="/vendor/requirejs/require.js" data-main="/js/semaphore.js")
			if use_analytics
				!= newrelic.getBrowserTimingHeader()

		//- page-specific js
		block addonjs