.modal-header
	h4.modal-title Add Team Member
.modal-body
	form.form-horizontal
		.form-group
			label.control-label.col-sm-4 User
			.col-sm-6
				select.form-control(ng-model="user.user_id" ng-options="user.id as user.name for user in users")
					option(value="") -- Select User --
		.form-group
			.col-sm-6.col-sm-offset-4
				.checkbox: label
					input(type="checkbox" ng-model="user.admin")
					| Administrator
.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-success(ng-click="$close(user)") Link