h1 New User
  button.btn.btn-default.pull-right(ui-sref="identities.list")
    i.fa.fa-fw.fa-chevron-left
    |  Back
.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        form.form-horizontal(name="userForm")
          .form-group
            label.control-label.col-sm-4(for="name") Name
            .col-sm-7
              input#name.form-control(type="text" placeholder="Display Name" ng-model="user.name" autofocus required)
          .form-group
            label.control-label.col-sm-4(for="username") Username
            .col-sm-7
              input#username.form-control(type="text" placeholder="Username" ng-model="user.username" required)
          .form-group
            label.control-label.col-sm-4(for="email") Email
            .col-sm-7
              input#email.form-control(type="email" placeholder="Email Address" ng-model="user.email" required)

          .form-group
            label.control-label.col-sm-4(for="password") Password
            .col-sm-7
              input#password.form-control(type="password" placeholder="User Password" ng-model="user.password" required)



          .form-group
            .col-sm-7.col-sm-offset-4
              button.btn.btn-success(ng-click="add()" ng-disabled="userForm.$invalid") Add
