h1 Users
  button.btn.btn-default.pull-right(ui-sref="users.add")
    i.fa.fa-fw.fa-plus
    |  Add

table.table
  tr(ng-repeat="user in users")
    td: a(ui-sref="user.view({ user_id: user._id })") {{ user.name }}

p(ng-show="identities.length == 0") No Users

blockquote Users are the user accounts that have access to Semaphore.
