$material-dark: (
        'background': #1E1E1E,
        'app-bar': transparent,
        'toolbar': transparent,
);

$material-light: (
        'app-bar': transparent,
        'toolbar': transparent,
);

$tabs-bar-background-color: 'toolbar';
