$material-dark: (
        'background': #1E1E1E,
        'app-bar': transparent,
        'toolbar': transparent,
);

$material-light: (
        'app-bar': transparent,
        'toolbar': transparent,
);

$tabs-bar-background-color: 'toolbar';

:root {
  --breakpoint-sm: 600px;
  --breakpoint-md: 960px;
  --breakpoint-lg: 1264px;
  --breakpoint-xl: 1904px;
  --nav-drawer-width: 260px;
}