gin-bin
build/
web/public/js/bundle.js
web/public/css/*.*
web/public/html/**/*.*
web/public/fonts/*.*
web/.nyc_output
api/public/**/*
/config.json
/.dredd/config.json
/database.boltdb
/database.boltdb.lock
/database_test.boltdb
/database.sqlite*
.DS_Store
node_modules/

/.idea/
/semaphore.iml
/bin/

util/version.go
/vendor/
/coverage.out
/public/package-lock.json
!.gitkeep

.dredd/compiled_hooks
.dredd/compiled_hooks.exe

.vscode
__debug_bin*
.task/
