h1 New Identity
	button.btn.btn-default.pull-right(ui-sref="identities.list")
		i.fa.fa-fw.fa-chevron-left
		|  Back
.row
	.col-md-6
		.panel.panel-default
			.panel-body
				form.form-horizontal(name="identityForm")
					.form-group
						label.control-label.col-sm-4(for="name") Name
						.col-sm-7
							input#name.form-control(type="text" placeholder="Identity Name" ng-model="identity.data.name" autofocus required)

					.form-group
						label.control-label.col-sm-4(for="password") Password
						.col-sm-7
							input#password.form-control(type="text" placeholder="Vault Password" ng-model="identity.data.password")

					.form-group
						label.control-label.col-sm-4(for="privateKey") Private Key
						.col-sm-7
							textarea#privateKey.form-control(placeholder="Private Key" ng-model="identity.data.private_key")

					.form-group
						label.control-label.col-sm-4(for="publicKey") Public Key
						.col-sm-7
							textarea#publicKey.form-control(placeholder="Public Key Contents" ng-model="identity.data.public_key")
					
					.form-group
						.col-sm-7.col-sm-offset-4
							button.btn.btn-success(ng-click="add()" ng-disabled="identityForm.$invalid") Add
	.col-md-6
		p.lead Identities are used to connect to git servers using <code>ssh</code>, they also unlock ansible vaults.
		p.lead Playbooks use a Identity to download the playbook using git.
		p.lead The private key is for accessing the playbook git server (defined when creating the playbook)