[Unit]
Description=Semaphore Runner
Requires=network.target

[Service]
EnvironmentFile=/etc/forge/env
ExecStart=/usr/bin/forge runner start --config ${FORGE_CONFIG}
ExecReload=/bin/kill -HUP $MAINPID
User=forge
Group=forge
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
