h3 Task Templates
	button.btn.btn-success.btn-xs.pull-right(ng-click="add()" style="margin-left: 5px;") New Template
	button.btn.btn-default.btn-xs.pull-right(ng-if="allShown && hasHiddenTemplates()" ng-click="hideHidden()") Hide Hidden
	button.btn.btn-default.btn-xs.pull-right(ng-if="!allShown && hasHiddenTemplates()" ng-click="showAll()") Show Hidden

table.table.table-hover
	thead: tr
		th Alias
		th Playbook
		th SSH Key
		th Inventory
		th Environment
		th Repository
		th &nbsp;
	tbody: tr(ng-repeat="tpl in templates" ng-click="update(tpl)" style="cursor: pointer;" ng-if="!tpl.hidden || allShown")
		td {{ tpl.alias }}
		td {{ tpl.playbook }}
		td {{ sshKeysAssoc[tpl.ssh_key_id].name }}
		td {{ inventoryAssoc[tpl.inventory_id].name }}
		td {{ environmentAssoc[tpl.environment_id].name }}
		td {{ reposAssoc[tpl.repository_id].name }}
		td: .pull-right
			button.btn.btn-default.btn-xs(ng-if="!tpl.hidden" ng-click="hideTemplate(tpl); $event.stopPropagation();") hide
			button.btn.btn-default.btn-xs(ng-if="tpl.hidden" ng-click="showTemplate(tpl); $event.stopPropagation();") show
			button.btn.btn-info.btn-xs(ng-click="copy(tpl); $event.stopPropagation();" style="margin-left: 5px;") copy
			button.btn.btn-success.btn-xs(ng-click="run(tpl); $event.stopPropagation();" style="margin-left: 5px;") run
