h3 Task Templates
	button.btn.btn-success.btn-xs.pull-right(ng-click="add()" ng-if="project_user.launch_only==false") New Template

table.table.table-hover
	thead: tr
		th Alias
		th Playbook
		th SSH Key
		th Inventory
		th Environment
		th Repository
		th &nbsp;
	tbody: tr(ng-repeat="tpl in templates" ng-click="update(tpl)" ng-if="project_user.launch_only==false" style="cursor: pointer;")
		td {{ tpl.alias }}
		td {{ tpl.playbook }}
		td {{ sshKeysAssoc[tpl.ssh_key_id].name }}
		td {{ inventoryAssoc[tpl.inventory_id].name }}
		td {{ environmentAssoc[tpl.environment_id].name }}
		td {{ reposAssoc[tpl.repository_id].name }}
		td: .pull-right
			button.btn.btn-info.btn-xs(ng-if="project_user.launch_only==false" ng-click="copy(tpl); $event.stopPropagation();") copy
			button.btn.btn-success.btn-xs(ng-click="run(tpl); $event.stopPropagation();", style="margin-left: 5px;") run
	tbody: tr(ng-repeat="tpl in templates" ng-if="project_user.launch_only==true")
		td {{ tpl.alias }}
		td {{ tpl.playbook }}
		td {{ sshKeysAssoc[tpl.ssh_key_id].name }}
		td {{ inventoryAssoc[tpl.inventory_id].name }}
		td {{ environmentAssoc[tpl.environment_id].name }}
		td {{ reposAssoc[tpl.repository_id].name }}
		td: .pull-right
			button.btn.btn-success.btn-xs(ng-click="run(tpl); $event.stopPropagation();", style="margin-left: 5px;") run
