h1 Add Playbook

.row
	.col-md-6
		.panel.panel-default
			.panel-body
				form.form-horizontal(name="playbookForm")
					.form-group
						label.control-label.col-sm-4 Name
						.col-sm-7
							input.form-control(type="text" placeholder="Playbook Name" ng-model="playbook.data.name" required autofocus)

					.form-group
						label.control-label.col-sm-4 Playbook Location
						.col-sm-7
							input.form-control(type="text" placeholder="Playbook Git URL" ng-model="playbook.data.location" required)

					.form-group
						label.control-label.col-sm-4 Vault Password
						.col-sm-7
							input.form-control(type="text" placeholder="Vault Password" ng-model="playbook.data.vault_password")

					.form-group
						label.control-label.col-sm-4 Identity
						.col-sm-7
							select.form-control(ng-options="identity._id as identity.name for identity in identities" ng-model="playbook.data.identity")
								option(value="") None Selected

					.form-group
						.col-sm-7.col-sm-offset-4
							button.btn.btn-success(ng-click="add()" ng-disabled="playbookForm.$invalid")
								span(ng-if="!playbook.data._id") Add
								span(ng-if="playbook.data._id.length > 0") Edit
	.col-md-6
		p.lead It is recommended you create an identity before creating playbooks.