h1 {{ playbook.data.name }}
	.btn-group.pull-right
		button.btn.btn-success(ui-sref="playbook.edit({ playbook_id: playbook.data._id })") Edit
		button.btn.btn-danger(ng-click="delete()") Delete

hr

ui-view(name="tasks")

hr

ui-view(name="jobs")

hr

ui-view(name="hosts")
