h1 {{ identity.data.name }}
	button.btn.pull-right.btn-danger(ng-click="delete()")
		i.fa.fa-times.fa-fw
		|  Delete

p Created on {{ identity.data.created }}

hr

h3 Public Key

pre: code {{ identity.data.public_key }}
