.container-fluid
	h1.text-center.no-top-margin semaphore v{{ semaphore.version }}
	hr
	.row
		.col-sm-4
			ul.list-group
				li.list-group-item: a(href="https://github.com/ansible-semaphore/semaphore" target="_blank") GitHub
				li.list-group-item: a(href="https://github.com/ansible-semaphore/semaphore/issues/new" target="_blank") Help (GH issues)
				li.list-group-item: a(href="https://github.com/ansible-semaphore/semaphore/wiki" target="_blank") Wiki
				li.list-group-item: a(href="" ng-click="checkUpdate()") Check for Update
				li.list-group-item: a(href="https://ansible-semaphore.github.io/semaphore/" target="_blank") API Documentation
		.col-sm-4
			div(ng-if="upgrade.updateBody")
				button.btn.btn-primary.btn-block(ng-click="doUpgrade()") upgrade to {{ upgrade.update.tag_name }}
				div(ng-bind-html="upgrade.updateBody")
		.col-sm-4
			dl
				dt DB
				dd: code {{ upgrade.config.dbUser }}@{{ upgrade.config.dbHost }}/{{ upgrade.config.dbName }}
				dt Playbook Path
				dd: code {{ upgrade.config.path }}
				dt semaphore location
				dd: code {{ upgrade.config.cmdPath }}