.container-fluid
	.row
		.col-md-8
			h4.no-top-margin Events
			ul.list-unstyled
				li(ng-repeat="event in events")
					strong: time(ng-bind="event.created | date:'short'")
					span :&nbsp;
					a(ng-if="event.project_id != null" ui-sref="project.dashboard({ project_id: event.project_id })") {{ event.project_name }}
					span(ng-if="event.project_id != null") &nbsp;
					span(ng-bind="event.object_name")
					span  - {{ event.description }}
		.col-md-4
			.panel.panel-default
				.panel-heading Projects
					button.btn.btn-default.btn-xs.pull-right(ng-click="addProject()"): i.fa.fa-fw.fa-plus
				ul.list-group
					li.list-group-item(ng-repeat="project in projects"): a(ui-sref="project.dashboard({ project_id: project.id })") {{ project.name }}