
h2 If you're just getting started

ol
	li Read about how Ansible Playbooks work, and try them out
	li Host your playbook on a git repository (e.g. github / gitlab)
	li Create a deploy key
	li Create an Identity (inside Semaphore). Add your Deploy Private and Public keys
	li Create a playbook, set the git url to your repository
	li Define hosts which you would like your playbook to use
	li Create a job that runs your playbook task file
	li Press Run

h3 Playbook Variables

p This is a bit advanced, but a good practice may be providing your variables through <code>group_vars/{host-group}.yml</code>. These can be encrypted using ansible-vault. The vault password can then be provided using a Semaphore Identity.
