doctype
html(lang="en" ng-app="semaphore")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8;")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		base(href="/")
		title(ng-bind-template="{{ pageTitle }} - Ironic") Ironic
		link(href="/public/img/icon.png" type="image/png" rel="icon")
		link(href="/public/img/icon.png" type="image/png" rel="shortcut icon")

		link(rel="stylesheet" href="public/css/semaphore.css")

	body
		.navbar.navbar-default(ng-if="loggedIn"): .container-fluid
			.navbar-header
				a.navbar-brand(ui-sref="dashboard") ironic

			ul.nav.navbar-nav
				li(ng-class="{ active: $state.includes('dashboard') }")
					a(ui-sref="dashboard") Dashboard
				//- li(ng-class="{ active: $state.includes('keys') }")
				//- 	a(ui-sref="keys") Key Store
				li(ng-class="{ active: $state.includes('users') }")
					a(ui-sref="users.list") Users

			ul.nav.navbar-nav.navbar-right(style="margin-right: 0;")
				li(ng-class="{ active: $state.includes('user') }")
					a(ui-sref="user")
						i.fa.fa-fw.fa-user
						| &nbsp;{{ user.name }}
				li(uib-dropdown)
					a(uib-dropdown-toggle)
						span(ng-if="semaphore.update")
							i.fa.fa-fw.fa-exclamation-circle
							| &nbsp;
						i.fa.fa-fw.fa-cog
					ul(uib-dropdown-menu)
						li: a(ui-sref="admin")
							span(ng-if="semaphore.update")
								i.fa.fa-fw.fa-exclamation-circle
								| &nbsp;
							| System info
						li.divider
						li: a(ui-sref="auth.logout")
							i.fa.fa-fw.fa-sign-out
							| &nbsp;Log out

		ui-view(autoscroll="false")
			p.lead.text-center
				i.fa.fa-spin.fa-cog
				|  Loading...

		script(src="public/js/bundle.js")
