.modal-header
	h4.modal-title New Environment
.modal-body
	form.form-horizontal
		.form-group
			label.control-label.col-sm-4 Name
			.col-sm-6
				input.form-control(type="text" ng-model="env.name")
.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-success(ng-click="$close(env)") Create