{
    "attachments": [
        {
            "title": "Task: {{ .Name }}",
            "title_link": "{{ .Task.URL }}",
            "text": "execution #{{ .Task.ID }}, status: {{ .Task.Result }}!",
            "color": "{{ .Color }}",
            "mrkdwn_in": [
                "text"
            ],
            "fields": [
                {
                    "title": "Author",
                    "value": "{{ .Author }}",
                    "short": true
                {{ if .Task.Version }}
                },
                {
                    "title": "Version",
                    "value": "{{ .Task.Version }}",
                    "short": true
                {{ end }}
                }
            ]
        }
    ]
}
