.modal-header
	h4.modal-title
		span(ng-if="!repo.id") Create Repository
		span(ng-if="repo.id") Update Repository

.modal-body
	form.form-horizontal
		.form-group
			label.control-label.col-sm-4 Name
			.col-sm-6
				input.form-control(type="text" ng-model="repo.name" placeholder="Friendly Repository Name")
		.form-group
			label.control-label.col-sm-4 Repository
			.col-sm-6
				input.form-control(type="text" ng-model="repo.git_url" placeholder="git@github.com:user/repo.git")
		.form-group
			label.control-label.col-sm-4 SSH Key
			.col-sm-6
				select.form-control(ng-model="repo.ssh_key_id" ng-options="key.id as key.name for key in keys")
					option(value="") -- Select SSH Key --

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-danger(ng-if="repo.id" ng-click="$close({ remove: true })") Delete
	button.btn.btn-success(ng-click="$close({ repo: repo })")
		span(ng-if="!repo.id") Create
		span(ng-if="repo.id") Update
