h3 Repositories
	button.btn.btn-success.btn-xs.pull-right(ng-click="add()") Create Repository

table.table.table-hover
	thead: tr
		th Name
		th Git URL
		th SSH Key
	tbody: tr(ng-repeat="repo in repositories" ng-class="{ danger: repo.removed }" ng-click="update(repo)" style="cursor: pointer;")
		td {{ repo.name }}
		td {{ repo.git_url }}
		td(title="Key ID: {{ repo.ssh_key_id }}") {{ repo.ssh_key.name }}