h3 Keys
	button.btn.btn-success.btn-xs.pull-right(ng-click="add()") Create Key

table.table.table-hover
	tbody: tr(ng-repeat="key in keys" ng-click="update(key)" style="cursor: pointer;" ng-class="{ danger: key.removed }")
		td
			code {{ key.type }}
			| &nbsp; {{ key.name }}