.container-fluid.project-container: .row
	.col-sm-4.col-md-3
		h3.no-top-margin {{ project.name }}
			small: a.pull-right(ui-sref="project.edit"): i.fa.fa-fw.fa-edit
		ul.nav.nav-pills.nav-stacked.project-navigation
			li(ng-class="{ active: $state.includes('project.dashboard') }"): a(ui-sref="project.dashboard") Dashboard
			li(ng-class="{ active: $state.includes('project.templates') }"): a(ui-sref="project.templates") Task Templates
			li(ng-class="{ active: $state.includes('project.inventory') }"): a(ui-sref="project.inventory") Inventory
			li(ng-class="{ active: $state.includes('project.environment') }"): a(ui-sref="project.environment") Environment
			li(ng-class="{ active: $state.includes('project.keys') }"): a(ui-sref="project.keys") Key Store
			li(ng-class="{ active: $state.includes('project.repositories') }"): a(ui-sref="project.repositories") Playbook Repositories
			//- li(ng-class="{ active: $state.includes('project.schedule') }"): a(ui-sref="project.schedule") Task Schedule
			li(ng-class="{ active: $state.includes('project.users') }"): a(ui-sref="project.users") Team

	.col-sm-8.col-md-9(style="border-left: 1px solid #EEE;")
		ui-view(class="{{ pageTitle.toLowerCase().replace(' ', '_') }} ")