.container-fluid: .row
	.col-sm-4.col-md-3
		h3.no-top-margin {{ project.name }}
		ul.list-group
			li.list-group-item: a(ui-sref="project.dashboard") Dashboard
			li.list-group-item: a(ui-sref="project.templates") Task Templates
			li.list-group-item: a(ui-sref="project.inventory") Inventory
			li.list-group-item: a(ui-sref="project.environment") Environment
			li.list-group-item: a(ui-sref="project.keys") Key Store
			li.list-group-item: a(ui-sref="project.repositories") Playbook Repositories
			li.list-group-item: a(ui-sref="project.schedule") Task Schedule
			li.list-group-item: a(ui-sref="project.users") Team
	.col-sm-8.col-md-9
		ui-view