.modal-header
	h4.modal-title Create Task
.modal-body
	form.form-horizontal
		.form-group
			.col-sm-6.col-sm-offset-4
				p.help-block <i>Optional</i> parameters
		.form-group
			label.control-label.col-sm-4 Playbook Override
			.col-sm-6
				input.form-control(type="text" placeholder="Enter playbook name to override template" ng-model="task.playbook")
		.form-group
			label.control-label.col-sm-4 Environment Override (*MUST* be valid JSON)
			.col-sm-6
				div(ui-ace="{mode: 'json', showGutter: false, workerPath: '/public/js/ace/'}" class="form-control" style="height: 100px" ng-model="task.environment")
		.form-group
			.col-sm-6.col-sm-offset-4: .checkbox: label
				input(type="checkbox" ng-model="task.debug")
				| Debug (<code>-vvvv</code>)

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-primary(ng-click="run(task, true)") Dry Run
	button.btn.btn-success(ng-click="run(task)") Run!