.modal-header
	h4.modal-title Create Task
.modal-body
	form.form-horizontal
		.form-group
			.col-sm-6.col-sm-offset-4
				p.help-block <i>Optional</i> parameters
		.form-group
			label.control-label.col-sm-4 Playbook Override
			.col-sm-6
				input.form-control(type="text" placeholder="Enter playbook name to override template" ng-model="task.playbook")
		.form-group
			label.control-label.col-sm-4 Environment Override
			.col-sm-6
				textarea.form-control(rows="10" placeholder="Override playbook environment, *MUST* be valid JSON" ng-model="task.environment")
		.form-group
			.col-sm-6.col-sm-offset-4: .checkbox: label
				input(type="checkbox" ng-model="task.debug")
				| Debug (<code>-vvvv</code>)

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-success(ng-click="run(task)") Run!