.modal-header
	h4.modal-title Task Log
.modal-body
	dl.dl-horizontal
		dt Status
		dd {{ task.status }}
		dt Started
		dd {{ task.start | date:'short' }}
		dt Ended
		dd {{ task.end | date:'short' }}
		dt Created
		dd {{ task.created | date:'short' }}
		dt Raw output
		dd: input(type="checkbox" ng-model="raw" title="show logs unbesmirched")
	pre: code {{ output_formatted }}

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	//- button.btn.btn-success(ng-click="restart(task)") Re-Run