.modal-header
	h4.modal-title Task Log
.modal-body
	pre: code Hello!

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-success(ng-click="restart(task)") Re-Run