.modal-header
	h3.modal-title Edit Inventory

.modal-body
	textarea.form-control.monospaced(ng-model="inventory" rows="20")

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Cancel
	button.btn.btn-success(ng-click="$close(inventory)") Save Changes