h3 Inventory
	button.btn.btn-default.btn-xs.pull-right(ng-click="add()") Create Inventory

table.table
	thead: tr
		th Name
		th Type
		th &nbsp;
		th &nbsp;
	tbody: tr(ng-repeat="inv in inventory")
		td {{ inv.name }}
		td {{ inv.type }}
		td: button.btn.btn-default.btn-xs(ng-click="editInventory(inv)") edit inventory
		td: button.btn.btn-danger.btn-xs.pull-right(ng-click="remove(inv)") delete