h1 Add Credential

form.form-horizontal
	.form-group
		label.control-label.col-sm-4 Name
		.col-sm-7
			input.form-control(type="text" placeholder="Credential Name" ng-model="credential.data.name")

	.form-group
		label.control-label.col-sm-4 Password
		.col-sm-7
			input.form-control(type="text" placeholder="Git Location" ng-model="credential.data.password")

	.form-group
		label.control-label.col-sm-4 Private Key
		.col-sm-7
			textarea.form-control(placeholder="Private Key" ng-model="credential.data.private_key")

	.form-group
		label.control-label.col-sm-4 Public Key
		.col-sm-7
			textarea.form-control(placeholder="Public Key Contents" ng-model="credential.data.public_key")
	
	.form-group
		.col-sm-7.col-sm-offset-4
			button.btn.btn-default(ng-click="add()") Add