h1 Credentials
	button.btn.btn-default.pull-right(ui-sref="credentials.add") Add

table.table
	tr(ng-repeat="credential in credentials")
		td: a(ui-sref="credential.view({ credential_id: credential._id })") {{ credential.name }}